<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h2>Members</h2>
    <table border="1">
        <tr>
            <th>Username</th>
            <th>Email</th>
        </tr>
        {% for row in members %}
        <tr>
            <td>{{ row.username }}</td>
            <td>{{ row.email }}</td>
        </tr>
        {% endfor %}
    </table>

    <h2>Economics</h2>
    <table border="1">
        <!-- header -->
        <tr>
            <th>Link</th>
            <th>Title</th>
        </tr>
        <!-- content -->
        {% for row in erows %}
        <tr>
            <td>{{ row.title }}</td>
            <td>{{ row.href }}</td>
        </tr>
        {% endfor %}
    </table>

</body>
</html>